@inherits LayoutComponentBase

<Sidebar>
    <SidebarContent>
        <SidebarBrand>
            <a href="">NEO LOCAL</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Show NEO LOCAL dashboard">
                    <FontawesomeIcon Style="@FontawesomeIconStyle.Solid" IconName="columns" Label="Dashboard" />
                </SidebarLink>
            </SidebarItem>

            <SidebarItem>
                <SidebarLink To="Counter" Title="Docker connection">
                    <FontawesomeIcon Style="@FontawesomeIconStyle.Brands" IconName="docker" Label="Docker" />
                </SidebarLink>
            </SidebarItem>

            <SidebarItem>
                <SidebarLink To="" Title="Containers features">
                    <FontawesomeIcon Style="@FontawesomeIconStyle.Solid" IconName="list" Label="Containers" />
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

<div class="main">
    <Bar Class="app-bar" Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
        <BarBrand>
            <BarItem>
                <BarLink To="">
                    <Icon Name="IconName.Dashboard" /> Blazorise Demo
                </BarLink>
            </BarItem>
        </BarBrand>
    </Bar>
    <div class="app-content">
        @Body
    </div>
</div>

@code{
}