@inherits LayoutComponentBase

<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">NEO LOCAL</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Show NEO LOCAL dashboard">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Dashboard
                </SidebarLink>
            </SidebarItem>

            <SidebarItem>
                <SidebarLink To="" Title="Docker connection">
                    <Icon Name="IconName.Lock" Margin="Margin.Is3.FromRight" />Docker
                </SidebarLink>
            </SidebarItem>

            <SidebarItem>
                <SidebarLink To="" Title="Containers features">
                    <Icon  Name="IconName.Lock" Margin="Margin.Is3.FromRight" />Containers
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    Sidebar sidebar;
}